name: CKC Indy
on:
  push

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build and push the image
        run: |
          docker login --username jacobmcollins --password ${{ secrets.GH_PAT }} ghcr.io
          docker build . --tag ghcr.io/jacobmcollins/ckcindy:latest
          docker push ghcr.io/jacobmcollins/ckcindy:latest